In [11]:
# 🧪 Project 3 - Data Analysis with Pandas
## 🔍 Section: Important Jupyter Notebook Commands

# Define a few variables
x = 42
y = [1, 2, 3]
z = "Hello Pandas"

In [46]:
 fileexcel_data = pd.read_excel('../data/sample_data.xlsx')print('\nExcel Data:')print(excel_data.head())

SyntaxError: invalid syntax (557553500.py, line 1)

In [13]:
%%writefile sample_script.py
print("This is a Python script written from Jupyter!")

Overwriting sample_script.py

In [45]:
filejson_data = pd.read_json('../data/sample_data.json')print('\nJSON Data:')print(json_data.head())

SyntaxError: invalid syntax (398855910.py, line 1)

In [15]:
import pandas as pd

In [43]:
import pandas as pd
df_excel.to_excel("../data/output_data.xlsx", index=False)

In [18]:
# 🧪 Project 3 - Data Analysis with Pandas
# 🔍 Section: Important Jupyter Notebook Commands

# Define a few variables
x = 42
y = [1, 2, 3]
z = "Hello Pandas"

print(x, y, z)

42 [1, 2, 3] Hello Pandas

In [47]:
responseurl = 'https://api.example.com/data'response = requests.get(url)api_data = response.json()api_df = pd.DataFrame(api_data)print('\nAPI Data:')print(api_df.head())

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

SyntaxError: invalid syntax (2437408813.py, line 1)

In [24]:
import pandas as pd

# Sample data
data = {
    "Product": ["Apple", "Banana", "Carrot"],
    "Price": [120, 40, 60],
    "Stock": [50, 100, 80]
}

# Create DataFrame
df = pd.DataFrame(data)

# Save as proper Excel file
df.to_excel("../data/sample_data.xlsx", index=False, engine="openpyxl")

print("✅ New valid Excel file saved!")
df_excel = pd.read_excel("../data/sample_data.xlsx", engine="openpyxl")
print(df_excel.head())

✅ New valid Excel file saved!
  Product  Price  Stock
0   Apple    120     50
1  Banana     40    100
2  Carrot     60     80

In [54]:
print(csv_data.iloc[0:5])

NameError: name 'csv_data' is not defined

import pandas as pd

# Sample data
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Paris", "Tokyo"]
}

# Create DataFrame and save as CSV
df_csv = pd.DataFrame(data)
df_csv.to_csv("../data/sample_data.csv", index=False)

print("✅ CSV file created successfully!")
df_loaded = pd.read_csv("../data/sample_data.csv")
print("📄 Loaded CSV Data:")
print(df_loaded)

In [5]:
# Deleting columns and rowscsv_data = csv_data.drop('ColumnNameToDelete', axis=1)print('\nData after deleting a column:')print(csv_data.head())

In [28]:
%%writefile ../data/sample_data.txt
Name, Age, City
Alice, 25, New York
Bob, 30, Paris
Charlie, 35, Tokyo

Overwriting ../data/sample_data.txt

In [30]:
# Open and read plain text
with open('../data/sample_data.txt', 'r') as file:
    content = file.read()

print("📄 TXT File Content:")
print(content)
df_txt = pd.read_csv('../data/sample_data.txt')
print("📊 TXT File Loaded as DataFrame:")
print(df_txt)

📄 TXT File Content:
Name, Age, City
Alice, 25, New York
Bob, 30, Paris
Charlie, 35, Tokyo
# Open and read plain text
with open('../data/sample_data.txt', 'r') as file:
    content = file.read()

print("📄 TXT File Content:")
print(content)

📊 TXT File Loaded as DataFrame:
                                  Name             Age       City
0                                Alice              25   New York
1                                  Bob              30      Paris
2                              Charlie              35      Tokyo
3           # Open and read plain text             NaN        NaN
4  with open('../data/sample_data.txt'   'r') as file:        NaN
5                content = file.read()             NaN        NaN
6         print("📄 TXT File Content:")             NaN        NaN
7                       print(content)             NaN        NaN

In [6]:
# Load and inspect CSV filecsv_data = pd.read_csv('../data/sample_data.csv')print('CSV Data:')print(csv_data.head())

In [31]:
%%writefile ../data/sample_data.json
[
  {"name": "Alice", "age": 25, "city": "New York"},
  {"name": "Bob", "age": 30, "city": "Paris"},
  {"name": "Charlie", "age": 35, "city": "Tokyo"}
]

Overwriting ../data/sample_data.json

In [7]:
# Adding a new columncsv_data['NewColumn'] = [1, 2, 3, 4, 5]print('\nData after adding a new column:')print(csv_data.head())

In [32]:
import pandas as pd

# Read the JSON file into a DataFrame
df_json = pd.read_json('../data/sample_data.json')

print("📘 JSON DataFrame:")
print(df_json)

📘 JSON DataFrame:
      name  age      city
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35     Tokyo

In [8]:
# Visualizing the dataplt.figure(figsize=(10, 6))sns.barplot(x='Column1', y='Column2', data=csv_data)plt.title('Sample Bar Plot')plt.show()

In [34]:
import requests
# Fetch a list of users from the fake API
response = requests.get("https://jsonplaceholder.typicode.com/users")

# Convert the response JSON into Python data
users = response.json()

# Show first user
print("🧑 First user:")
print(users[0])

🧑 First user:
{'id': 1, 'name': 'Leanne Graham', 'username': 'Bret', 'email': 'Sincere@april.biz', 'address': {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}, 'phone': '1-770-736-8031 x56442', 'website': 'hildegard.org', 'company': {'name': 'Romaguera-Crona', 'catchPhrase': 'Multi-layered client-server neural-net', 'bs': 'harness real-time e-markets'}}

In [35]:
import pandas as pd

# Convert entire JSON response to a DataFrame
df_users = pd.DataFrame(users)

print("📋 Users DataFrame:")
print(df_users[['id', 'name', 'email', 'company']])

📋 Users DataFrame:
   id                      name                      email  \
0   1             Leanne Graham          Sincere@april.biz
1   2              Ervin Howell          Shanna@melissa.tv
2   3          Clementine Bauch         Nathan@yesenia.net
3   4          Patricia Lebsack  Julianne.OConner@kory.org
4   5          Chelsey Dietrich   Lucio_Hettinger@annie.ca
5   6      Mrs. Dennis Schulist    Karley_Dach@jasper.info
6   7           Kurtis Weissnat     Telly.Hoeger@billy.biz
7   8  Nicholas Runolfsdottir V       Sherwood@rosamond.me
8   9           Glenna Reichert    Chaim_McDermott@dana.io
9  10        Clementina DuBuque     Rey.Padberg@karina.biz

                                             company
0  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
5  {'name': 'Considine-Lockman', 'catchPhrase': '...
6  {'name': 'Johns Group', 'catchPhrase': 'Config...
7  {'name': 'Abernathy Group', 'catchPhrase': 'Im...
8  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
9  {'name': 'Hoeger LLC', 'catchPhrase': 'Central...

In [36]:
# Extract company names
df_users['company_name'] = df_users['company'].apply(lambda x: x['name'])

print("🏢 Company Names:")
print(df_users[['name', 'company_name']])

🏢 Company Names:
                       name        company_name
0             Leanne Graham     Romaguera-Crona
1              Ervin Howell        Deckow-Crist
2          Clementine Bauch  Romaguera-Jacobson
3          Patricia Lebsack       Robel-Corkery
4          Chelsey Dietrich         Keebler LLC
5      Mrs. Dennis Schulist   Considine-Lockman
6           Kurtis Weissnat         Johns Group
7  Nicholas Runolfsdottir V     Abernathy Group
8           Glenna Reichert       Yost and Sons
9        Clementina DuBuque          Hoeger LLC

In [41]:
new_post = {
    "userId": 1,
    "title": "PHYTEC is awesome!",
    "body": "Just posted this from Python using requests 🚀"
}

In [42]:
response = requests.post("https://jsonplaceholder.typicode.com/posts", json=new_post)

# Check if it was successful
print("✅ Status Code:", response.status_code)

# Response from server
print("📬 Response JSON:")
print(response.json())

✅ Status Code: 201
📬 Response JSON:
{'userId': 1, 'title': 'PHYTEC is awesome!', 'body': 'Just posted this from Python using requests 🚀', 'id': 101}

In [58]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)
print(df)
# Get the 'Name' column
print(df['Name'])
# Get the first row
print(df.iloc[0])

# Get first 3 rows
print(df.iloc[0:3])
# Get the Name of the second person
print(df.iloc[1, 0])  # Row 1, Column 0

# Get rows 1 to 3 and only the 'Name' and 'City' columns
print(df.loc[1:3, ['Name', 'City']])
# All people older than 25
print(df[df['Age'] > 25])

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
4      Eva   29      Phoenix
0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object
Name       Alice
Age           24
City    New York
Name: 0, dtype: object
      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
Bob
      Name         City
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston
    Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eva   29      Phoenix

In [59]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
4      Eva   29      Phoenix

In [60]:
# Drop the 'City' column (returns a new DataFrame)
df_without_city = df.drop('City', axis=1)
print(df_without_city)

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   32
4      Eva   29

In [61]:
df_without_columns = df.drop(['Age', 'City'], axis=1)
print(df_without_columns)

      Name
0    Alice
1      Bob
2  Charlie
3    David
4      Eva

In [62]:
df.drop('City', axis=1, inplace=True)
print(df)

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   32
4      Eva   29

In [63]:
# Drop row with index 2 (Charlie)
df_without_row = df.drop(2)
print(df_without_row)

    Name  Age
0  Alice   24
1    Bob   27
3  David   32
4    Eva   29

In [64]:
df.drop([0, 3], inplace=True)  # Alice and David gone
print(df)

      Name  Age
1      Bob   27
2  Charlie   22
4      Eva   29

In [65]:
df['Country'] = 'USA'
print(df)

      Name  Age Country
1      Bob   27     USA
2  Charlie   22     USA
4      Eva   29     USA

In [66]:
# Age group based on age
df['AgeGroup'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Adult')
print(df)

      Name  Age Country AgeGroup
1      Bob   27     USA    Young
2  Charlie   22     USA    Young
4      Eva   29     USA    Young

In [67]:
# Increase everyone's age by 1
df['Age'] = df['Age'] + 1
print(df)

      Name  Age Country AgeGroup
1      Bob   28     USA    Young
2  Charlie   23     USA    Young
4      Eva   30     USA    Young

In [68]:
# Update Bob's city
df.loc[df['Name'] == 'Bob', 'City'] = 'San Francisco'
print(df)

      Name  Age Country AgeGroup           City
1      Bob   28     USA    Young  San Francisco
2  Charlie   23     USA    Young            NaN
4      Eva   30     USA    Young            NaN

In [69]:
new_row = {'Name': 'Frank', 'Age': 26, 'City': 'Boston', 'Country': 'USA', 'AgeGroup': 'Young'}
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
print(df)

      Name  Age Country AgeGroup           City
0      Bob   28     USA    Young  San Francisco
1  Charlie   23     USA    Young            NaN
2      Eva   30     USA    Young            NaN
3    Frank   26     USA    Young         Boston

In [70]:
# Update row at index 1
df.loc[1] = ['Bobby', 28, 'Seattle', 'USA', 'Young']
print(df)

    Name  Age  Country AgeGroup           City
0    Bob   28      USA    Young  San Francisco
1  Bobby   28  Seattle      USA          Young
2    Eva   30      USA    Young            NaN
3  Frank   26      USA    Young         Boston

In [71]:
# Update row at index 1
df.loc[1] = ['Bobby', 28, 'Seattle', 'USA', 'Young']
print(df)

    Name  Age  Country AgeGroup           City
0    Bob   28      USA    Young  San Francisco
1  Bobby   28  Seattle      USA          Young
2    Eva   30      USA    Young            NaN
3  Frank   26      USA    Young         Boston

In [72]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)
pd.DataFrame?
%timeit df['Age'].mean()
df = pd.read_csv('data.csv')
print(df.head())

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
99.6 µs ± 2.07 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'